<div class="container col-6">
  <div>
    <h3>Employee Details</h3>
  </div>

  <div>
    <label class="form-label" for="name-of-employee">Name</label>
    <input class="form-control" [(ngModel)]="empName" type="text" placeholder="Name of Employee">
    <br>
    <label class="form-label" for="number-of-employee">Number</label>
    <input class="form-control" [(ngModel)]="empNum" type="text" placeholder="Number of Employee">
    <br>
    <button type="button" class="btn btn-success" (click)=register(empName,empNum) >Submit</button>
  </div>
  <br>
  <table class="table-bordered">
    
    <tr>
      <th>S.No.</th>
      <th>Name of Employee</th>
      <th>Employee Number</th>
      <th>Delete Employee</th>
    </tr>
    
    <tr *ngFor="let Info of listOfEmployees; let i = index;" [ngStyle]="{'background-color':(Info.Code%2==0)?'green':'red'}">
      <td>{{Info.id}}</td>
      <td>{{Info.Name}}</td>
      <td>{{Info.Code}}</td>
      <td class="p-2" ><button type="button" class="btn btn-info" (click)=deleteUser(i)>Delete</button></td>
    </tr>

  </table>
</div>